<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simba Sales updated</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .bx-prev {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 10px;
            width: 10px;
            background: lime;
        }
    </style>
    <script>
        var balmicapath, shmicapath, shmicapath2;
        var modeldata = '';

    </script>
</head>

<body>
    <div id="app" >
        <form id="loginform" >
            <table class="fixed" width="1000px">
                <tr>
                    <td>
                        <label for="userid">userid</label>
                        <input id="userid" v-model="user.userid" type="text" size="6" />

                    </td>
                    <td>
                        <label for="phone">Phone</label>
                        <input id="phone" v-model="user.phone" type="text" size="6" />
                        <button type="submit">Register</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                status: 'login',
                user: {
                    userid: '',
                    phone: '',
                },
                A: {

                },

            },


            computed: {
            },
            mounted() {
                this.login();
            },
            methods: {

                login() {
                    console.log("login called");
                    const loginForm = document.getElementById('loginForm');
                    loginform.addEventListener('submit', async (e) => {
                        e.preventDefault();
                        console.log("inside...");

                        //const loginUserId = document.getElementById('userid').value;
                        //const loginPhone = document.getElementById('phone').value;

                        const response = await fetch('/api/user-registration/register', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(this.user),
                            //body: JSON.stringify({ userid: loginUserId, phone: loginPhone }),
                        });

                        if (response.ok) {
                            alert('Registration successful');
                            window.location.href = '/displayUsers.html';
                        } else {
                            alert('Invalid Data');
                        }
                    });

                },
            },

        });
    </script>
    <li><a href="home.html">Home </a></li>
</body>

</html>